<div class="col-md-6 offset-md-3">
  <h3> المتداخل:{{intervention.intervenant}}</h3>
  <h3> الإدارة:  {{intervention.direction}}</h3>
</div>
   
<div class="container-md">
  <div class="card">
      <div class="card-header">
         <!--  <form>
          <div class="col-md-4">
                  <input class="form-control me-2" type="search" placeholder="بحث" aria-label="بحث">
                  <button class="btn btn-outline-blue" type="submit">بحث</button>                      
          </div>
      </form>-->
          <div class="col-md-4">
          <form class="d-flex">
              <input class="form-control me-2"  id="searchName"   placeholder="بحث" >
             <!--  <button class="btn btn-outline-dark" (click)="searchIntervenant" type="button">بحث</button>-->
            </form>
          </div>
      </div>
      <div class="card-body">
         
          <table class="table table-sm table-striped"> 
              <thead class="thead-dark">
                  <tr>
                    
                      <th>صاحب الجواز</th>
                      <th>التاريخ</th>
                      <th></th>
               
                  </tr>
              </thead>
              <tbody>
                 <tr></tr>
                  
              </tbody>
          </table>
      </div>
     
    <!-- <div class="card-footer text-muted">
        <nav aria-label="مثال آخر لترقيم الصفحات">
            <ul class="pagination pagination-lg flex-wrap" id="foo">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">التالى</a>
              </li>
            </ul>
          </nav>
      </div>-->
    </div>
  </div>
 


